@charset "utf-8";

#itemInfo {
	margin: 50px 15% 0;
}

#itemInfosTbl {
	width: 95%;
	margin: 0 2%;
	border-collapse:  collapse;
}

.item_data {
	text-align: center;
	vertical-align: middle;
	padding: 2px 10px;
}

.itemId {
	width: 15px;
	padding: 2px 10px;
}

.header_background {
	background-color: #CCFF00;
}

.data_background {
	background-color: #CCFFFF;
}

th, td {
	border: solid 1px #fff;
}

.page_link_area {
	text-align: center;
	vertical-align: middle;
	margin: 10px;
}

.page_link_ui li {
	display: inline;
	padding: 5px;
	border:1px #ccc solid;color:#000053;
	border-radius: 5px / 5px;
}

.page_cheese {
	background-color:#777;
	color:#fff;
}

.page_pre .page_next {
	background-color:#ccc;
	color:#333;
}

.page_link_ui li {
	display: inline-block;
	text-align: center;
}

.page_link_ui li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #003396;
}

.item_button {
	text-align: center;
	vertical-align: middle;
}

.items_table_button {
	width: 120px;
	height: 30px;
	border-radius: 1rem;
	font-size: 16px;
	color: #fff;
	background: #f39800;
	margin: 5px;
}

.items_table_button:hover {
	color: #fff;
	background: #ffa50e;
}

#table_button_cart {
	width: 150px;
}